.profile {
    position: relative;
    padding-bottom: 100px;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: 100px;
    opacity: 1;
}

.section-navigation {
    background-color: rgb(66, 66, 243);
}

.data li {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
}

.publications {
    border-top: 5px solid black;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.publication {
    border: 4px solid blue;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px 400px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 5px 2px 2px blue;
}

.publication > h1 {
    font-size: 30px;
    border-bottom: 2px solid black;
    margin: 0px;
}

.publication .content-cat {
    font-size: 20px;
}

.publication .content {
    font-size: 18px;
}

.activities {
    margin-top: 0px;
}

.activities button {
    padding: 10px;
    border-radius: 16px;
    font-family: 'DM Serif Display', serif;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.activities button:hover {
    color: blue;
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}