.navigation {
    display: flex;
    align-items: center;
    background-color: rgb(66, 66, 243);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 2;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    color: white;
}

.logo {
    width: 200px;
    height: 90px;
    margin-left: 20px;
    margin-right: 60px;
}

.nav-bar li a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header .nav-bar li a:hover {
    color: rgb(11, 179, 236);
    transition: 200ms;
}

i {
    margin-right: 7px;
}