.error-heading {
    color: black;
}

.error-heading-three {
    text-align: center;
    margin-left: 600px;
    font-size: 40px;
    margin-top: 0px;
}

.error-container {
    display: flex;
    flex-direction: column;
    padding-right: 400px;
}